<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neon.mechat.mapper.MessageMapper">
    <insert id="insert" parameterType="com.neon.mechat.entity.Message" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO message (conversation_id, sender_id, receiver_id, client_message_id, message_type, content)
        VALUES (#{conversationId}, #{senderId}, #{receiverId}, #{clientMessageId}, #{messageType}, #{content})
    </insert>

    <select id="selectById" resultType="com.neon.mechat.entity.Message">
        SELECT id,
               conversation_id,
               sender_id,
               receiver_id,
               client_message_id,
               message_type,
               content,
               send_time
        FROM message
        WHERE id = #{id}
        LIMIT 1
    </select>

    <select id="selectBySenderAndClientMessageId" resultType="com.neon.mechat.entity.Message">
        SELECT id,
               conversation_id,
               sender_id,
               receiver_id,
               client_message_id,
               message_type,
               content,
               send_time
        FROM message
        WHERE sender_id = #{senderId}
          AND client_message_id = #{clientMessageId}
        LIMIT 1
    </select>

    <select id="selectOfflineMessages" resultType="com.neon.mechat.entity.Message">
        SELECT m.id,
               m.conversation_id,
               m.sender_id,
               m.receiver_id,
               m.client_message_id,
               m.message_type,
               m.content,
               m.send_time
        FROM conversation c
                 INNER JOIN message m ON m.conversation_id = c.id
        WHERE m.receiver_id = #{userId}
          AND (
            (c.user_low_id = #{userId} AND m.id > c.user_low_last_sync_message_id)
                OR (c.user_high_id = #{userId} AND m.id > c.user_high_last_sync_message_id)
            )
        ORDER BY m.id ASC
        LIMIT #{limit}
    </select>

    <select id="selectConversationMessages" resultType="com.neon.mechat.entity.Message">
        SELECT id,
               conversation_id,
               sender_id,
               receiver_id,
               client_message_id,
               message_type,
               content,
               send_time
        FROM message
        WHERE conversation_id = #{conversationId}
        <if test="beforeMessageId != null">
          AND id &lt; #{beforeMessageId}
        </if>
        ORDER BY id DESC
        LIMIT #{limit}
    </select>

    <select id="countUnreadMessages" resultType="int">
        SELECT COUNT(1)
        FROM message
        WHERE conversation_id = #{conversationId}
          AND receiver_id = #{userId}
          AND id &gt; #{lastSyncMessageId}
    </select>
</mapper>
